apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres
  selector:
    apps.zarantonello.dev/name: postgres
    apps.zarantonello.dev/namespace: outline
