# This configuration assumes that caddy is running behind cloudflared.


{
	admin off
	auto_https off
	servers {
		# It is especially important to modify the client_ip_headers and trusted_proxies
		# settings to match those passed by your reverse proxy.
		client_ip_headers CF-Connecting-IP
		trusted_proxies static 172.16.0.0/12
	}
}

:3000 {
	header {
		Strict-Transport-Security max-age=15552000;
	}

	handle_path /push/* {
		uri strip_prefix /push
		reverse_proxy nextcloud_notify_push:7867
	}

	@dav {
		path /.well-known/carddav
		path /.well-known/caldav
	}
	redir @dav /remote.php/dav 301

	@forbidden {
		path /.htaccess
		path /data/*
		path /config/*
		path /db_structure
		path /.xml
		path /README
		path /3rdparty/*
		path /lib/*
		path /templates/*
		path /occ
		path /console.php
	}
	respond @forbidden 404

	file_server
	root * /var/www/html
	php_fastcgi nextcloud:9000
}
