apiVersion: v1
kind: Service
metadata:
  name: web-ui
spec:
  ports:
    - name: http
      port: 80
      targetPort: http
  selector:
    apps.zarantonello.dev/name: grafana
    apps.zarantonello.dev/namespace: grafana
